<section class="exercises">
  <div class="container">
    <div>
      <h2 class="exercises-title">Exercises</h2>
      <ul class="exercises-filter">
        <li>
          <button
            class="exercises-filter-btn exercises-filter-btn-active"
            type="button"
          >
            Muscles
          </button>
        </li>
        <li>
          <button class="exercises-filter-btn" type="button">Body parts</button>
        </li>
        <li>
          <button class="exercises-filter-btn" type="button">Equipment</button>
        </li>
      </ul>
    </div>
    <ul class="exercises-list"></ul>
    <div class="exercises-info">
      <div></div>
      <img
        srcset="
          ./img/exercises/women-talking@1x.jpg 1x,
          ./img/exercises/women-talking@2x.jpg 2x
        "
        src="./img/exercises/women-talking@1x.jpg"
        alt="Young Women Talking During Brake"
      />
      <div></div>
    </div>
  </div>
</section>
